#!/bin/bash

PATH='/opt/MYPKGNAME/bin:/opt/MYPKGNAME/exe:/opt/MYPKGNAME/gems/ruby/2.3.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin'
RAILS_ENV=production
DISABLE_SPRING='true'
LANG=en_US.UTF-8
TZ=UTC
GEM_HOME=/var/opt/MYPKGNAME/gem_home
RUBYLIB=/var/opt/MYPKGNAME/rubylib
NO_COMPRESSION=0
SECRET_KEY_BASE=secretkey
DEVISE_KEY_BASE=devicekey
DATABASE_USERNAME=dbusername
DATABASE_NAME=dbname
DATABASE_PASSWORD=dbpassword
DATABASE_HOST=hosthere
DATABASE_PORT=5432
ERRBIT_KEY=errbitkey
EMAIL_PASSWORD=emailpassword
LOGS_PATH=/opt/MYPKGNAME/log
