Package: MYPKGNAME
Version: 0.0.1
Section: web
Priority: optional
Architecture: amd64
Depends: rsyslog (>= 8.32.0), logrotate (>= 3.11.0), ruby2.3 (>= 2.3.8), nginx (>= 1.14.0), ruby2.3-dev, zlib1g-dev, liblzma-dev, libpq-dev, libmagickwand-dev, imagemagick-6-common, imagemagick-6.q16
Maintainer: MY Name <myname@myemail.com>
Description: MYPKGNAME
 Software to present MYPKGNAME
